<template>
    <div id="cy"></div>
</template>

<script>
import cytoscape from "cytoscape";
import cola from 'cytoscape-cola';

let colorArray = ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6',
      '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
      '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
      '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
      '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
      '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
      '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
      '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
      '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
      '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];
cytoscape.use( cola );


export default {
  name: 'GraphViewer',
  props: {
    graph: Object
  },
  $options: {
cy: undefined
  },
  watch: {
      graph: function(graphData) {
          if(this.$options.cy) {
this.$options.cy.destroy();
        }
        
       graphData.style = [ // the stylesheet for the graph
         {
           selector: 'node',
           style: {
             'background-color': 'data(color)',
             'label': ele => ele.data("label") ? ele.data("label") : ele.data("value")
           }
         },
         {
           selector: 'edge',
           style: {
             'width': 3,
             'line-color': '#ccc',
             'target-arrow-color': '#ccc',
             'target-arrow-shape': 'triangle',
             'curve-style': 'bezier',
             'label': ele => ele.data('outCapacity').toFixed(3) + ", " + ele.data('transitTime').toFixed(3),
             'text-rotation': 'autorotate',
             'text-margin-y': '1em',
             'line-fill': 'solid'
           }
         }
      ]
      graphData.layout = { name: 'cola' }

      // Set node color
      graphData.elements.nodes = graphData.elements.nodes.map(n => {
        if(n.data.orignalId) {
          n.data.color = colorArray[(this.hashCode(n.data.orignalId) % colorArray.length + colorArray.length) % colorArray.length]
        } else {
          n.data.color = colorArray[(this.hashCode(n.data.id) % colorArray.length + colorArray.length) % colorArray.length]
        }

        return n
      })

      graphData.container = document.getElementById('cy')

      this.$options.cy = cytoscape(graphData)

      let map = new Map()

      this.$options.cy.elements().bfs({
        root: this.$options.cy.$id('s'),
        directed: true,
        visit: function(v, e, u, i, depth){
          if(!map.has(depth)){
            map.set(depth, [])
          }

          map.get(depth).push(v)
        }
      })

      let vertical = []
      let gaps = []

      // Each column has the same x value
      map.forEach(value => {
        vertical.push(value.map(n => {return { node: n, offset: 0 }} ))
      })

      // Gap from left to right depth value
      let last = null
      map.forEach(value => {
        if(last != null) {
            last.forEach(left => {
              value.forEach(right => {
                gaps.push({"axis": "x", "left": left, "right": right, "gap": 100, "equality": "true"})
              })
            })
        }

        last = value
      })

      this.$options.cy.layout({
        name: 'cola',
        randomize: false,
        flow: { axis: 'y', minSeparation: 30 },
        alignment: {
          horizontal: [],
          vertical: vertical
        },
        gapInequalities: gaps
      }).run()
        
      }
  },
  methods: {
    hashCode(s) {
        var h = 0, l = s.length, i = 0;
        if ( l > 0 )
          while (i < l)
            h = (h << 5) - h + s.charCodeAt(i++) | 0;

        return h;
    }
  }
}
</script>

<style>
#cy {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  min-height: 25em;
}
</style>
