<template>
  <v-row>
    <v-col cols="6">
      <apexchart type="line" :options="options" :series="series"></apexchart>
    </v-col>

    <v-col cols="6">
      <apexchart type="line" :options="options2" :series="series2"></apexchart>
    </v-col>
  </v-row>
</template>

<script>
const decimalFormatter = (value) => (value ? value.toFixed(5) : value);

export default {
  name: "ResultCharts",
  methods: {
    xCategories: function() {
      return this.results.map((e) => e.flow);
    },
    yNash: function() {
      return this.results.map((e) => e.nash_flow_time);
    },
    yQuick: function() {
      return this.results.map((e) => e.quickest_flow_time);
    },
    yPOA: function() {
      return this.results.map((e) => e.nash_flow_time / e.quickest_flow_time);
    },
    displayText: function(it) {
      return `${it.transformation_id}: ${it.description}`;
    },
    optionsFun: function() {
      const categories = this.xCategories();

      return {
        chart: {},
        legend: {
          show: true,
        },
        xaxis: {
          categories: categories,
          labels: {
            formatter: decimalFormatter,
          },
        },
        yaxis: {
          labels: {
            formatter: decimalFormatter,
          },
        },
      };
    },
  },
  computed: {
    options: function() {
      return this.optionsFun();
    },
    options2: function() {
      return this.optionsFun();
    },
    series: function() {
      return [
        {
          name: "Nash Flow Values",
          data: this.yNash(),
        },
        {
          name: "Quickest Flow Values",
          data: this.yQuick(),
        },
      ];
    },
    series2: function() {
      return [
        {
          name: "POA",
          data: this.yPOA(),
        },
      ];
    },
  },
  data: () => ({
    transformations: [],
  }),
  props: {
    results: Array,
  },
};
</script>
