<template>
  <v-app>
    <v-main>
      <v-container>
        <v-select
          v-model="selected.graph"
          :items="graphs"
          item-text="label"
          label="Graph"
          return-object
          single-line
        ></v-select>

        <graph-viewer :graph="graph_cytoscape" />

        <v-autocomplete
          v-model="selected.transformation"
          v-if="selected.graph && transformations.length > 1"
          :items="transformations"
          :item-text="displayText"
          label="Transformation"
          return-object
          single-line
          auto-select-first
        ></v-autocomplete>

        <ResultCharts v-if="selected.transformation && results" :results="results" />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import ResultCharts from "./components/ResultCharts.vue";
import GraphViewer from './components/GraphViewer.vue';

export default {
  name: "App",
  methods: {
    displayText: function(it) {
      return `${it.transformation_id}: ${it.description}`;
    },
  },
  computed: {
    graph_cytoscape: function() {
      return this.selected.graph ? JSON.parse(this.selected.graph.cytoscape_data.replaceAll('Infinity', Number.MAX_VALUE)) : undefined
    }
  },
  data: () => ({
    transformations: [],
    selected: {
      graph: undefined,
      transformation: undefined,
    },
    results: [],

  }),
  watch: {
    transformations: function(val) {
      const noTransformation = val.filter((e) => e.type == 0)[0];
      if (noTransformation) {
        this.selected.transformation = noTransformation;
      }
    },
  },
  apollo: {
    graphs: gql`
      query {
        graphs {
          graph_id: id
          label
          cytoscape_data
        }
      }
    `,
    transformations: {
      query: gql`
        query ResultQuery($graph_id: String!) {
          transformations(
            where: { graph_id: { _eq: $graph_id } }
            order_by: { id: asc }
          ) {
            transformation_id: id
            graph_id
            description
            type
          }
        }
      `,
      variables() {
        return {
          graph_id: this.selected.graph.graph_id,
        };
      },
      skip() {
        return !this.selected.graph;
      },
    },
    results: {
      query: gql`
        query ResultQuery($transformation_id: Int!) {
          results(
            where: { transformation_id: { _eq: $transformation_id } }
            order_by: { flow: asc }
          ) {
            flow
            nash_flow_time
            quickest_flow_time
          }
        }
      `,
      variables() {
        return {
          transformation_id: this.selected.transformation.transformation_id,
        };
      },
      skip() {
        return !this.selected.transformation;
      },
    },
  },
  components: { ResultCharts, GraphViewer },
};
</script>
